VITE_FIREBASE_API_KEY=AIzaSyD7eWz8Nkro4n4y7DQGwzDN9LZT3kFAr4o
VITE_FIREBASE_AUTH_DOMAIN=dev-v2-ab30b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dev-v2-ab30b
VITE_FIREBASE_STORAGE_BUCKET=dev-v2-ab30b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1087505147104
VITE_FIREBASE_APP_ID=1:1087505147104:web:a01c6d54ae4e00295bdc85
VITE_API_URL=http://localhost:8000/api
